<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/styles/views.css">
</head>
<body>
  <!-- Barra de navegação -->
  <%- include("navbar") %>

  <!-- Conteúdo principal -->
  <div class="content">
    <div class="dashboard-box">
      <h2>Bem-vindo, <%= nome %>!</h2>
      <p>O teu ID é <%= userId %>.</p>
    </div>
  </div>
  <script src="/scripts/logout.js"></script>
</body>
</html>
