<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard</title>
  <link rel="stylesheet" href="../www/styles/style.css">
</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <h2>Bem-vindo, <%= nome %>!</h2>
      <p>O teu ID é <%= userId %>.</p>
      <a href="../index.html" class="login-button">Terminar Sessão</a>
    </div>
  </div>
</body>
</html>
